.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
__pycache__/**
tests/**
*.md
!README.md
!CHANGELOG.md
*.vsix
.git/**
